name: Deploy Frontend Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Production Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 143.244.182.86
          username: deploy
          key: ${{ secrets.PROD_SSH_KEY }}
          command_timeout: 25m
          script: |
            cd /opt/apps/better-edibles/production/frontend
            git pull origin main
            cd /opt/apps/better-edibles
            docker compose -f docker-compose.production.yml up -d --build frontend
